<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117979002607-1oqv5s1b5ahf2svfgh8le1p72v3g16cr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117979002607-1oqv5s1b5ahf2svfgh8le1p72v3g16cr</string>
	<key>API_KEY</key>
	<string>AIzaSyBDHIaeRV8EE49qkYqSmxSkaOWvt9Ngyfk</string>
	<key>GCM_SENDER_ID</key>
	<string>117979002607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vitalii-Sosin.iChat</string>
	<key>PROJECT_ID</key>
	<string>ichat-2a221</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-2a221.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117979002607:ios:3ddf311b750204d6788d1a</string>
	<key>DATABASE_URL</key>
	<string>https://ichat-2a221.firebaseio.com</string>
</dict>
</plist>